[Desktop Entry]
Name=SKeys
Comment=SSH Key Management Application
Exec=skeys-app
Icon=com.skeys.skeys-app
Terminal=false
Type=Application
Categories=Utility;Security;System;
Keywords=SSH;Keys;Security;Remote;
StartupWMClass=com.skeys.skeys-app
